<div class="main">
    <mat-toolbar>
        <mat-toolbar-row>
            <img src="https://icons8.com/icon/SLY9PWM67srB/processor" alt="">
            <span class="menu">What a Markeet!</span>
            <button mat-raised-button color="primary" class="btn-menu">
                <mat-icon>menu</mat-icon>
                Primary
            </button>
            <mat-form-field class="example-form-field ">
                <div class="input-complete">
                    <input type="text" class="input-t">
                    <button mat-icon-button class="input">
                        <mat-icon >search</mat-icon>
                    </button>
                </div>
            </mat-form-field>
            <div class="orders"> 
                <mat-icon class="img-order"><img
                        src="https://th.bing.com/th/id/R.eccd6937d33eaa82dc4ad23ed22d3492?rik=u2sJi%2fGTQ3eCWQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_547949.png&ehk=6ME5I3Nczvk2fMxx3PBBRXnSC7k2SAvbAhUNscV9TAE%3d&risl=&pid=ImgRaw&r=0"
                        alt=""></mat-icon>
                       <p> Orders</p>
                        
            </div>
            <div class="favorite">
                <mat-icon> favorite</mat-icon>
                <p>Favorite</p>
            </div>
            <div class="favorite">
                <mat-icon class="img-order">
                    <img src="https://th.bing.com/th/id/R.a12ceba1e736fe1f31c315d7392fd987?rik=A0YWL%2bJjNdaLCg&riu=http%3a%2f%2fange-hakama.com%2fimg%2ficon%2fcart_ange.png&ehk=ixR9zfnrMbNUdMV1lrxLroF509oRGWUFsSNWVjBVnng%3d&risl=&pid=ImgRaw&r=0"
                        alt="">
                </mat-icon>
                <p>Chart</p>
            </div>
            <button mat-raised-button class="login">
                Sing In
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row>
            <div class="location">
                <mat-icon class="img-order">
                    <img src="https://www.pngkey.com/png/detail/869-8697298_location-marker-instagram-location-icon-png.png"
                        alt="">
                </mat-icon>
                <span>California</span>
            </div>
            <div class="mid">
                <div class="heading">Best Sellers</div>
                <div class="heading">New Releases</div>
                <div class="heading">Books</div>
                <div class="heading">Computers</div>
                <div class="heading">Fashion</div>
                <div class="heading">Health</div>
                <div class="heading">Pharmacy</div>
                <div class="heading">Toys & Games</div>
               

            </div>
            <div class="seller"> Become a seller</div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<hr>
jkfbvnkjzdbfi